* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e4ded7;
  color: #443a38;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
a {
  text-decoration: none;
  color: #color: #fff;
}
a:hover,
a:focus {
  background-color: #443a38;
}

/* LAYOUT CSS */
#layout {
  padding-left: 25%; /* "left col (nav + list)" width */
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  text-align: right;
  bottom: 0;
  width: 25%;
  margin-left: -25%;
}

header { 
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  height: 160px;
  padding: 20px 0px;
}

header div {
  display: inline-block;
  padding-right: 10px;
  float: left;
}

header img, header h1, header h2, header h3 {
  margin: 0;
}
header h1 {
  font-size: 1.75em;
}
header h2 { font-size: 4.8em; padding-top: 20px; }
header h3 { text-align: center; font-size: 1em }

.pure-menu.pure-menu-horizontal {
  background-color: #ff6502;
  height: 50px;
  border-bottom: 4px solid #443a38;
}

.pure-menu.pure-menu-horizontal a {
  -webkit-font-smoothing: antialiased;
  background-color: #ff6502;
  height: 46px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.075em;
  padding-top: 12px;
  color: #fff;
}

.pure-menu.pure-menu-horizontal a:hover {
  background-color: #443a38;
}
.content {
  padding: 2em;
}

.container {
  max-width: 46em;
}
.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

footer {
  vertical-align: bottom;
  text-align: center;
  padding: 1em 0;
  background-color: #a49d9d;
}
footer a {
  color: #ccc;
  font-size: 80%;
}
footer .pure-menu a:hover,
footer .pure-menu a:focus {
  background: none;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    #layout {
        padding: 1em;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 1em;
    }
}
