* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; padding: 0;
}

body {
  background-color: #e4ded7;
  color: #443a38;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
/*.page-title {
  font-size: 1.4em;
  letter-spacing: 18px;
  font-style: italic;
  font-weight: 800;
}*/
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:focus {
  background-color: #443a38;
}
.posts h2 {
    padding-bottom: 2px;
    border-bottom: 1px dashed #b8b1b0;
}
.posts h2 a, .page-title {
  padding: 4px 2px;
  letter-spacing: 0.025em;
  color: #443a38;
  font-style: italic;
  font-size: 40px;
  font-weight: 800;
}
.posts h2 a:hover {
  color: #e4ded7;
  background-color: #443a38;
}
.posts small { 
  display: inline-block;
  color: #b8b1b0;
  float: right;
  font-size: 0.8em
  position: relative;
  margin-top: -40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
small {
  color: #837977;
  padding-top: 12px;
}

p { 
  letter-spacing: 0.005em
}
/* LAYOUT CSS */
#layout {
  padding-left: 25%; /* "left col (nav + list)" width */
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  text-align: right;
  bottom: 0;
  width: 25%;
  margin-left: -25%;
}

header { 
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  height: 160px;
  padding: 20px 0px;
}

header div {
  display: inline-block;
  float: left;
}

header img, header h1, header h2, header h3 {
  margin: 0; border: 0;
}
header h1 {
  font-size: 1.75em;
  background-color: #443a38;
  padding-right: 24px;
  height: 31px;
  margin: 0 20px;
}
header h1 a {
  color: #443a38;
  padding-left: 4px;
  background-color: #e4ded7;
}
header h1 a:hover { 
  color: #e4ded7;
  background-color: #443a38;
}
header h2 { 
  font-size: 4.8em; 
  padding-top: 20px; 
  font-weight: 200;
}
header h3 { 
  text-align: center; 
  font-size: 1em; 
  font-size: 100;
  letter-spacing: 0.05em;
}

.pure-menu.pure-menu-horizontal {
  background-color: #ff6502;
  height: 52px;
  border-bottom: 6px solid #443a38;
}

.pure-menu.pure-menu-horizontal a {
  -webkit-font-smoothing: antialiased;
  height: 46px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 0.075em;
  padding-top: 10px;
  margin-right: -4px;
  color: #fff;
}

.pure-menu.pure-menu-horizontal a:hover {
  background-color: #443a38;
  padding-left: -2px;
}

.active {
  background-color: #443a38;
}
/*.menu-nav-item {
  background-color: pink;
}
.active{
  background-color: blue; 
}*/

#page-wrap { 
  width: 800px;
  margin: 0px auto 60px;
}

.content {
  padding: 2em;
}

.container {
  max-width: 46em;
}
.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

footer {
  vertical-align: bottom;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 1em 0;
  margin-bottom: -100px;
  background-color: #a49d9d;
}
footer a {
  color: #ccc;
  font-size: 80%;
}
footer .pure-menu a:hover,
footer .pure-menu a:focus {
  background: none;
}

@media (max-width: 767px) {
  .pure-menu-horizontal li {
    display: block;
    background-color: #ff6502;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 1em;
  }
}
