
<div class="menu" id="menu">
  <!-- <div class="menu-item">
    <p>{{ site.description }}</p>
  </div> -->

  <nav class="menu-nav">
    <a class="menu-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="menu-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
</div>
