<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div id="page-wrap">      
      <!-- <div class="main"> -->
        <div class="container">
          {% include header.html %}          
          <!-- <label for="sidebar-checkbox" class="sidebar-toggle"></label> -->
          {% include menu.html %}
          {{ content }}
          {% include footer.html %}
        </div>
      <!-- </div> -->
    </div>
  </body>
</html>
